.hero{
    margin: 280px 0 280px;

    &__title{
        font-family: $ff-Birthstone;
        font-weight: 800;
        font-size: 75px;
        text-align: center;
        margin: 0;
    }

    &__title-block{
        position: relative;
        svg{
            position: absolute;
            background: $color-ghost-white;
            top: 21px;
            left: 251px;
            rotate: 20deg;
        }
    }

    &__text{
        font-family: $ff-Alumni;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
}

