.hero{
    margin: 280px 0 280px;

    &__title{
        font-family: $ff-Birthstone;
        font-weight: 800;
        font-size: 75px;
        text-align: center;
        margin: 0;
        
        .title-text{
            position: relative;
        }
    }

    

    &__title-block{
        
        svg{
            position: absolute;
            background: $color-ghost-white;
            top: 30px;
            left: 150px;
            rotate: 20deg;
        }
    }

    &__text{
        font-family: $ff-Alumni;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
}

