.info-block{
    .container{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__title{
        font-family: $ff-Alumni;
        font-size: 35px;
        opacity: 0.6;
        margin: 0px;
    }

    &__title--after{
        font-family: $ff-Alumni;
        font-size: 25px;
        opacity: 0.6;
        margin: 0 0 0 40px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.polaroid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;

    &__block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text{
        grid-column: span 2;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }

    &__text-2{
        grid-column: span 2;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        padding: 0 20px;
        margin: 0;
    }

    &__text--after{
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0 20px;
    }

    &__img{
        margin: 0 auto;
    }

    &__img-1{
        margin-left: auto;
    }

    
}